<!DOCTYPE html>
<html lang="es">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEMARIO CURSO-MAPEO DE PROCESOS</title>
    <!--===============================================================================================-->	
</head>
<body>
    <embed src="MAPEO_Y_DOCUMENTACIÓN_DE_PROCESOS.pdf" type="application/pdf" width="1255px" height="860px"/>

</body>
</html>
